.comments
{
    margin-left: 25px;
    position: relative;
}
.single-comment
{
    display: block;
    left: 0px;
    padding: 10px;

    border: 2px #636c72;
    border-radius: 20px;
    background-color: #d8dee5;
}
.comment-body
{
    padding-top: 10px;
}
.comment-content:first-letter
{
    font-family: Georgia;
    font-size: 75px;
    line-height: 40px;

    float: left;

    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;

    color: #903;
}
.label{

    text-transform: uppercase;
    font-size: .85em;
    margin-right: 6px;
    color: #999;
    font-family: "Helvetica",Arial,Verdana,sans-serif;
}